<p>Hey {{ name1 }},</p>
{{#if name2}}
<p>{{ name2}} just booked the following consultation.</p>
{{else}}
<p>You just booked the following consultation.</p>
{{/if}}
<p>
    <strong>
        {{date}}
    </strong> </br>
    <strong>
        {{time}}
    </strong> </br>
    <a href="{{url}}" >Check out the project and it's current status.</a>
</p>
